{#
 # @author: Takashi MATSUSHITA
 #}
// LUTs for CaloMuonCorrelation conditions
{# EG-MU #}
{# conversion #}
{% set lut_eta_eg2mu = scaleMap['EG-ETA'] | getCaloMuonEtaConversionLut(scaleMap['MU-ETA']) %}
const int LUT_ETA_EG2MU[] = {
{% for x in lut_eta_eg2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_phi_eg2mu = scaleMap['EG-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_EG2MU[] = {
{% for x in lut_phi_eg2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# delta #}
{% set prec_eg_mu_delta = scaleMap['PRECISION-EG-MU-Delta'] %}
const int prec_eg_mu_delta = {{ prec_eg_mu_delta.getNbits() }};
{% set lut_deta_eg_mu = scaleMap['EG-ETA'] | getDeltaLut(scaleMap['MU-ETA'], prec_eg_mu_delta) %}
const int LUT_DETA_EG_MU[] = {
{% for x in lut_deta_eg_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_eg_mu = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['MU-PHI'], prec_eg_mu_delta) %}
const int LUT_DPHI_EG_MU[] = {
{% for x in lut_dphi_eg_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_eg_mu_math = scaleMap['PRECISION-EG-MU-Math'] %}
const int prec_eg_mu_math = {{ prec_eg_mu_math.getNbits() }};

{% set lut_cosh_deta_eg_mu = scaleMap['EG-ETA'] | getCoshLut(scaleMap['MU-ETA'], prec_eg_mu_math) %}
const int LUT_COSH_DETA_EG_MU[] = {
{% for x in lut_cosh_deta_eg_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_eg_mu = scaleMap['EG-PHI'] | getCosLut(scaleMap['MU-PHI'], prec_eg_mu_math) %}
const int LUT_COS_DPHI_EG_MU[] = {
{% for x in lut_cos_dphi_eg_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_eg_mu_mass = scaleMap['PRECISION-EG-MU-Mass'] %}
const int prec_eg_mu_mass = {{ prec_eg_mu_mass.getNbits() }};

{% set prec_eg_mu_massPt = scaleMap['PRECISION-EG-MU-MassPt'] %}
const int prec_eg_mu_massPt = {{ prec_eg_mu_massPt.getNbits() }};


{# JET-MU #}
{# conversion #}
{% set lut_eta_jet2mu = scaleMap['JET-ETA'] | getCaloMuonEtaConversionLut(scaleMap['MU-ETA']) %}
const int LUT_ETA_JET2MU[] = {
{% for x in lut_eta_jet2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_phi_jet2mu = scaleMap['JET-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_JET2MU[] = {
{% for x in lut_phi_jet2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# delta #}
{% set prec_jet_mu_delta = scaleMap['PRECISION-JET-MU-Delta'] %}
const int prec_jet_mu_delta = {{ prec_jet_mu_delta.getNbits() }};
{% set lut_deta_jet_mu = scaleMap['JET-ETA'] | getDeltaLut(scaleMap['MU-ETA'], prec_jet_mu_delta) %}
const int LUT_DETA_JET_MU[] = {
{% for x in lut_deta_jet_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_dphi_jet_mu = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['MU-PHI'], prec_jet_mu_delta) %}
const int LUT_DPHI_JET_MU[] = {
{% for x in lut_dphi_jet_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_jet_mu_math = scaleMap['PRECISION-JET-MU-Math'] %}
const int prec_jet_mu_math = {{ prec_jet_mu_math.getNbits() }};

{% set lut_cosh_deta_jet_mu = scaleMap['JET-ETA'] | getCoshLut(scaleMap['MU-ETA'], prec_jet_mu_math) %}
const int LUT_COSH_DETA_JET_MU[] = {
{% for x in lut_cosh_deta_jet_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_jet_mu = scaleMap['JET-PHI'] | getCosLut(scaleMap['MU-PHI'], prec_jet_mu_math) %}
const int LUT_COS_DPHI_JET_MU[] = {
{% for x in lut_cos_dphi_jet_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_jet_mu_mass = scaleMap['PRECISION-JET-MU-Mass'] %}
const int prec_jet_mu_mass = {{ prec_jet_mu_mass.getNbits() }};

{% set prec_jet_mu_massPt = scaleMap['PRECISION-JET-MU-MassPt'] %}
const int prec_jet_mu_massPt = {{ prec_jet_mu_massPt.getNbits() }};

{# TAU-MU #}
{# conversion #}
{% set lut_eta_tau2mu = scaleMap['TAU-ETA'] | getCaloMuonEtaConversionLut(scaleMap['MU-ETA']) %}
const int LUT_ETA_TAU2MU[] = {
{% for x in lut_eta_tau2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_phi_tau2mu = scaleMap['TAU-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_TAU2MU[] = {
{% for x in lut_phi_tau2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# delta #}
{% set prec_tau_mu_delta = scaleMap['PRECISION-TAU-MU-Delta'] %}
const int prec_tau_mu_delta = {{ prec_tau_mu_delta.getNbits() }};
{% set lut_deta_tau_mu = scaleMap['TAU-ETA'] | getDeltaLut(scaleMap['MU-ETA'], prec_tau_mu_delta) %}
const int LUT_DETA_TAU_MU[] = {
{% for x in lut_deta_tau_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_dphi_tau_mu = scaleMap['TAU-PHI'] | getDeltaLut(scaleMap['MU-PHI'], prec_tau_mu_delta) %}
const int LUT_DPHI_TAU_MU[] = {
{% for x in lut_dphi_tau_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_tau_mu_math = scaleMap['PRECISION-TAU-MU-Math'] %}
const int prec_tau_mu_math = {{ prec_tau_mu_math.getNbits() }};

{% set lut_cosh_deta_tau_mu = scaleMap['TAU-ETA'] | getCoshLut(scaleMap['MU-ETA'], prec_tau_mu_math) %}
const int LUT_COSH_DETA_TAU_MU[] = {
{% for x in lut_cosh_deta_tau_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_tau_mu = scaleMap['TAU-PHI'] | getCosLut(scaleMap['MU-PHI'], prec_tau_mu_math) %}
const int LUT_COS_DPHI_TAU_MU[] = {
{% for x in lut_cos_dphi_tau_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_tau_mu_mass = scaleMap['PRECISION-TAU-MU-Mass'] %}
const int prec_tau_mu_mass = {{ prec_tau_mu_mass.getNbits() }};

{% set prec_tau_mu_massPt = scaleMap['PRECISION-TAU-MU-MassPt'] %}
const int prec_tau_mu_massPt = {{ prec_tau_mu_massPt.getNbits() }};
{# eof #}
