{#
 # @author: Takashi MATSUSHITA
 #}
// LUTs for CaloCaloCorrelation conditions
{# EG-EG #}
{# delta #}
{% set prec_eg_eg_delta = scaleMap['PRECISION-EG-EG-Delta'] %}
const int prec_eg_eg_delta = {{ prec_eg_eg_delta.getNbits() }};
{% set lut_deta_eg_eg = scaleMap['EG-ETA'] | getDeltaLut(scaleMap['EG-ETA'], prec_eg_eg_delta) %}
const int LUT_DETA_EG_EG[] = {
{% for x in lut_deta_eg_eg -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_eg_eg = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['EG-PHI'], prec_eg_eg_delta) %}
const int LUT_DPHI_EG_EG[] = {
{% for x in lut_dphi_eg_eg -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_eg_eg_math = scaleMap['PRECISION-EG-EG-Math'] %}
const int prec_eg_eg_math = {{ prec_eg_eg_math.getNbits() }};

{% set lut_cosh_deta_eg_eg = scaleMap['EG-ETA'] | getCoshLut(scaleMap['EG-ETA'], prec_eg_eg_math) %}
const int LUT_COSH_DETA_EG_EG[] = {
{% for x in lut_cosh_deta_eg_eg -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_cos_dphi_eg_eg = scaleMap['EG-PHI'] | getCosLut(scaleMap['EG-PHI'], prec_eg_eg_math) %}
const int LUT_COS_DPHI_EG_EG[] = {
{% for x in lut_cos_dphi_eg_eg -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_eg_eg_mass = scaleMap['PRECISION-EG-EG-Mass'] %}
const int prec_eg_eg_mass = {{ prec_eg_eg_mass.getNbits() }};

{% set prec_eg_eg_massPt = scaleMap['PRECISION-EG-EG-MassPt'] %}
const int prec_eg_eg_massPt = {{ prec_eg_eg_massPt.getNbits() }};

{% set lut_eg_et = scaleMap['EG-ET'] | getLut(prec_eg_eg_massPt) %}
const int LUT_EG_ET[] = {
{% for x in lut_eg_et -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};


{# EG-JET #}
{# delta #}
{% set prec_eg_jet_delta = scaleMap['PRECISION-EG-JET-Delta'] %}
const int prec_eg_jet_delta = {{ prec_eg_jet_delta.getNbits() }};
{% set lut_deta_eg_jet = scaleMap['EG-ETA'] | getDeltaLut(scaleMap['JET-ETA'], prec_eg_jet_delta) %}
const int LUT_DETA_EG_JET[] = {
{% for x in lut_deta_eg_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_eg_jet = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['JET-PHI'], prec_eg_jet_delta) %}
const int LUT_DPHI_EG_JET[] = {
{% for x in lut_dphi_eg_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_eg_jet_math = scaleMap['PRECISION-EG-JET-Math'] %}
const int prec_eg_jet_math = {{ prec_eg_jet_math.getNbits() }};

{% set lut_cosh_deta_eg_jet = scaleMap['EG-ETA'] | getCoshLut(scaleMap['JET-ETA'], prec_eg_jet_math) %}
const int LUT_COSH_DETA_EG_JET[] = {
{% for x in lut_cosh_deta_eg_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_eg_jet = scaleMap['EG-PHI'] | getCosLut(scaleMap['JET-PHI'], prec_eg_jet_math) %}
const int LUT_COS_DPHI_EG_JET[] = {
{% for x in lut_cos_dphi_eg_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_eg_jet_mass = scaleMap['PRECISION-EG-JET-Mass'] %}
const int prec_eg_jet_mass = {{ prec_eg_jet_mass.getNbits() }};

{% set prec_eg_jet_massPt = scaleMap['PRECISION-EG-JET-MassPt'] %}
const int prec_eg_jet_massPt = {{ prec_eg_jet_massPt.getNbits() }};


{# EG-TAU #}
{# delta #}
{% set prec_eg_tau_delta = scaleMap['PRECISION-EG-TAU-Delta'] %}
const int prec_eg_tau_delta = {{ prec_eg_tau_delta.getNbits() }};
{% set lut_deta_eg_tau = scaleMap['EG-ETA'] | getDeltaLut(scaleMap['TAU-ETA'], prec_eg_tau_delta) %}
const int LUT_DETA_EG_TAU[] = {
{% for x in lut_deta_eg_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_dphi_eg_tau = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['TAU-PHI'], prec_eg_tau_delta) %}
const int LUT_DPHI_EG_TAU[] = {
{% for x in lut_dphi_eg_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_eg_tau_math = scaleMap['PRECISION-EG-TAU-Math'] %}
const int prec_eg_tau_math = {{ prec_eg_tau_math.getNbits() }};

{% set lut_cosh_deta_eg_tau = scaleMap['EG-ETA'] | getCoshLut(scaleMap['TAU-ETA'], prec_eg_tau_math) %}
const int LUT_COSH_DETA_EG_TAU[] = {
{% for x in lut_cosh_deta_eg_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_eg_tau = scaleMap['EG-PHI'] | getCosLut(scaleMap['TAU-PHI'], prec_eg_tau_math) %}
const int LUT_COS_DPHI_EG_TAU[] = {
{% for x in lut_cos_dphi_eg_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_eg_tau_mass = scaleMap['PRECISION-EG-TAU-Mass'] %}
const int prec_eg_tau_mass = {{ prec_eg_tau_mass.getNbits() }};

{% set prec_eg_tau_massPt = scaleMap['PRECISION-EG-TAU-MassPt'] %}
const int prec_eg_tau_massPt = {{ prec_eg_tau_massPt.getNbits() }};


{# JET-JET #}
{# delta #}
{% set prec_jet_jet_delta = scaleMap['PRECISION-JET-JET-Delta'] %}
const int prec_jet_jet_delta = {{ prec_jet_jet_delta.getNbits() }};
{% set lut_deta_jet_jet = scaleMap['JET-ETA'] | getDeltaLut(scaleMap['JET-ETA'], prec_jet_jet_delta) %}
const int LUT_DETA_JET_JET[] = {
{% for x in lut_deta_jet_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_jet_jet = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['JET-PHI'], prec_jet_jet_delta) %}
const int LUT_DPHI_JET_JET[] = {
{% for x in lut_dphi_jet_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_jet_jet_math = scaleMap['PRECISION-JET-JET-Math'] %}
const int prec_jet_jet_math = {{ prec_jet_jet_math.getNbits() }};

{% set lut_cosh_deta_jet_jet = scaleMap['JET-ETA'] | getCoshLut(scaleMap['JET-ETA'], prec_jet_jet_math) %}
const int LUT_COSH_DETA_JET_JET[] = {
{% for x in lut_cosh_deta_jet_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_cos_dphi_jet_jet = scaleMap['JET-PHI'] | getCosLut(scaleMap['JET-PHI'], prec_jet_jet_math) %}
const int LUT_COS_DPHI_JET_JET[] = {
{% for x in lut_cos_dphi_jet_jet -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_jet_jet_mass = scaleMap['PRECISION-JET-JET-Mass'] %}
const int prec_jet_jet_mass = {{ prec_jet_jet_mass.getNbits() }};

{% set prec_jet_jet_massPt = scaleMap['PRECISION-JET-JET-MassPt'] %}
const int prec_jet_jet_massPt = {{ prec_jet_jet_massPt.getNbits() }};

{% set lut_jet_et = scaleMap['JET-ET'] | getLut(prec_jet_jet_massPt) %}
const int LUT_JET_ET[] = {
{% for x in lut_jet_et -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};


{# JET-TAU #}
{# delta #}
{% set prec_jet_tau_delta = scaleMap['PRECISION-JET-TAU-Delta'] %}
const int prec_jet_tau_delta = {{ prec_jet_tau_delta.getNbits() }};
{% set lut_deta_jet_tau = scaleMap['JET-ETA'] | getDeltaLut(scaleMap['TAU-ETA'], prec_jet_tau_delta) %}
const int LUT_DETA_JET_TAU[] = {
{% for x in lut_deta_jet_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_dphi_jet_tau = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['TAU-PHI'], prec_jet_tau_delta) %}
const int LUT_DPHI_JET_TAU[] = {
{% for x in lut_dphi_jet_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_jet_tau_math = scaleMap['PRECISION-JET-TAU-Math'] %}
const int prec_jet_tau_math = {{ prec_jet_tau_math.getNbits() }};

{% set lut_cosh_deta_jet_tau = scaleMap['JET-ETA'] | getCoshLut(scaleMap['TAU-ETA'], prec_jet_tau_math) %}
const int LUT_COSH_DETA_JET_TAU[] = {
{% for x in lut_cosh_deta_jet_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_jet_tau = scaleMap['JET-PHI'] | getCosLut(scaleMap['TAU-PHI'], prec_jet_tau_math) %}
const int LUT_COS_DPHI_JET_TAU[] = {
{% for x in lut_cos_dphi_jet_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_jet_tau_mass = scaleMap['PRECISION-JET-TAU-Mass'] %}
const int prec_jet_tau_mass = {{ prec_jet_tau_mass.getNbits() }};

{% set prec_jet_tau_massPt = scaleMap['PRECISION-JET-TAU-MassPt'] %}
const int prec_jet_tau_massPt = {{ prec_jet_tau_massPt.getNbits() }};

{# TAU-TAU #}
{# delta #}
{% set prec_tau_tau_delta = scaleMap['PRECISION-TAU-TAU-Delta'] %}
const int prec_tau_tau_delta = {{ prec_tau_tau_delta.getNbits() }};
{% set lut_deta_tau_tau = scaleMap['TAU-ETA'] | getDeltaLut(scaleMap['TAU-ETA'], prec_tau_tau_delta) %}
const int LUT_DETA_TAU_TAU[] = {
{% for x in lut_deta_tau_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_tau_tau = scaleMap['TAU-PHI'] | getDeltaLut(scaleMap['TAU-PHI'], prec_tau_tau_delta) %}
const int LUT_DPHI_TAU_TAU[] = {
{% for x in lut_dphi_tau_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_tau_tau_math = scaleMap['PRECISION-TAU-TAU-Math'] %}
const int prec_tau_tau_math = {{ prec_tau_tau_math.getNbits() }};

{% set lut_cosh_deta_tau_tau = scaleMap['TAU-ETA'] | getCoshLut(scaleMap['TAU-ETA'], prec_tau_tau_math) %}
const int LUT_COSH_DETA_TAU_TAU[] = {
{% for x in lut_cosh_deta_tau_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_cos_dphi_tau_tau = scaleMap['TAU-PHI'] | getCosLut(scaleMap['TAU-PHI'], prec_tau_tau_math) %}
const int LUT_COS_DPHI_TAU_TAU[] = {
{% for x in lut_cos_dphi_tau_tau -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_tau_tau_mass = scaleMap['PRECISION-TAU-TAU-Mass'] %}
const int prec_tau_tau_mass = {{ prec_tau_tau_mass.getNbits() }};

{% set prec_tau_tau_massPt = scaleMap['PRECISION-TAU-TAU-MassPt'] %}
const int prec_tau_tau_massPt = {{ prec_tau_tau_massPt.getNbits() }};

{% set lut_tau_et = scaleMap['TAU-ET'] | getLut(prec_tau_tau_massPt) %}
const int LUT_TAU_ET[] = {
{% for x in lut_tau_et -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{# eof #}
