{#
 # @author: Takashi MATSUSHITA
 #}
// LUTs for CaloEsumCorrelation conditions
{# EG-ESUM #}
{# delta #}
{% set prec_eg_etm_delta = scaleMap['PRECISION-EG-ETM-Delta'] %}
const int prec_eg_etm_delta = {{ prec_eg_etm_delta.getNbits() }};
{% set lut_dphi_eg_etm = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['ETM-PHI'], prec_eg_etm_delta) %}
const int LUT_DPHI_EG_ETM[] = {
{% for x in lut_dphi_eg_etm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_eg_htm_delta = scaleMap['PRECISION-EG-HTM-Delta'] %}
const int prec_eg_htm_delta = {{ prec_eg_htm_delta.getNbits() }};
{% set lut_dphi_eg_htm = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['HTM-PHI'], prec_eg_htm_delta) %}
const int LUT_DPHI_EG_HTM[] = {
{% for x in lut_dphi_eg_htm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% if menu.getVersion() >= "0.3" %}
{% if 'PRECISION-EG-ETMHF-Delta' in scaleMap %}
{% set prec_eg_etmhf_delta = scaleMap['PRECISION-EG-ETMHF-Delta'] %}
const int prec_eg_etmhf_delta = {{ prec_eg_etmhf_delta.getNbits() }};
{% set lut_dphi_eg_etmhf = scaleMap['EG-PHI'] | getDeltaLut(scaleMap['ETMHF-PHI'], prec_eg_etmhf_delta) %}
const int LUT_DPHI_EG_ETMHF[] = {
{% for x in lut_dphi_eg_etmhf -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% endif %}
{% endif %}


{# JET-ESUM #}
{# delta #}
{% set prec_jet_etm_delta = scaleMap['PRECISION-JET-ETM-Delta'] %}
const int prec_jet_etm_delta = {{ prec_jet_etm_delta.getNbits() }};
{% set lut_dphi_jet_etm = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['ETM-PHI'], prec_jet_etm_delta) %}
const int LUT_DPHI_JET_ETM[] = {
{% for x in lut_dphi_jet_etm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_jet_htm_delta = scaleMap['PRECISION-JET-HTM-Delta'] %}
const int prec_jet_htm_delta = {{ prec_jet_htm_delta.getNbits() }};
{% set lut_dphi_jet_htm = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['HTM-PHI'], prec_jet_htm_delta) %}
const int LUT_DPHI_JET_HTM[] = {
{% for x in lut_dphi_jet_htm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% if menu.getVersion() >= "0.3" %}
{% if 'PRECISION-JET-ETMHF-Delta' in scaleMap %}
{% set prec_jet_etmhf_delta = scaleMap['PRECISION-JET-ETMHF-Delta'] %}
const int prec_jet_etmhf_delta = {{ prec_jet_etmhf_delta.getNbits() }};
{% set lut_dphi_jet_etmhf = scaleMap['JET-PHI'] | getDeltaLut(scaleMap['ETMHF-PHI'], prec_jet_etmhf_delta) %}
const int LUT_DPHI_JET_ETMHF[] = {
{% for x in lut_dphi_jet_etmhf -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% endif %}
{% endif %}


{# TAU-ESUM #}
{# delta #}
{% set prec_tau_etm_delta = scaleMap['PRECISION-TAU-ETM-Delta'] %}
const int prec_tau_etm_delta = {{ prec_tau_etm_delta.getNbits() }};
{% set lut_dphi_tau_etm = scaleMap['TAU-PHI'] | getDeltaLut(scaleMap['ETM-PHI'], prec_tau_etm_delta) %}
const int LUT_DPHI_TAU_ETM[] = {
{% for x in lut_dphi_tau_etm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_tau_htm_delta = scaleMap['PRECISION-TAU-HTM-Delta'] %}
const int prec_tau_htm_delta = {{ prec_tau_htm_delta.getNbits() }};
{% set lut_dphi_tau_htm = scaleMap['TAU-PHI'] | getDeltaLut(scaleMap['HTM-PHI'], prec_tau_htm_delta) %}
const int LUT_DPHI_TAU_HTM[] = {
{% for x in lut_dphi_tau_htm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% if menu.getVersion() >= "0.3" %}
{% if 'PRECISION-TAU-ETMHF-Delta' in scaleMap %}
{% set prec_tau_etmhf_delta = scaleMap['PRECISION-TAU-ETMHF-Delta'] %}
const int prec_tau_etmhf_delta = {{ prec_tau_etmhf_delta.getNbits() }};
{% set lut_dphi_tau_etmhf = scaleMap['TAU-PHI'] | getDeltaLut(scaleMap['ETMHF-PHI'], prec_tau_etmhf_delta) %}
const int LUT_DPHI_TAU_ETMHF[] = {
{% for x in lut_dphi_tau_etmhf -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% endif %}
{% endif %}

{# eof #}
