{#
 # @author: Takashi MATSUSHITA
 #}
// LUTs for MuonEsumCorrelation conditions
{# conversion #}
{% set lut_phi_etm2mu = scaleMap['ETM-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_ETM2MU[] = {
{% for x in lut_phi_etm2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_phi_htm2mu = scaleMap['HTM-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_HTM2MU[] = {
{% for x in lut_phi_htm2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% if menu.getVersion() >= "0.3" %}
{% if 'ETMHF-PHI' in scaleMap %}
{% set lut_phi_etmhf2mu = scaleMap['ETMHF-PHI'] | getCaloMuonPhiConversionLut(scaleMap['MU-PHI']) %}
const int LUT_PHI_ETMHF2MU[] = {
{% for x in lut_phi_etmhf2mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% endif %}
{% endif %}


{# delta #}
{% set prec_mu_etm_delta = scaleMap['PRECISION-MU-ETM-Delta'] %}
const int prec_mu_etm_delta = {{ prec_mu_etm_delta.getNbits() }};
{% set lut_dphi_mu_etm = scaleMap['MU-PHI'] | getDeltaLut(scaleMap['ETM-PHI'], prec_mu_etm_delta) %}
const int LUT_DPHI_MU_ETM[] = {
{% for x in lut_dphi_mu_etm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_mu_htm_delta = scaleMap['PRECISION-MU-HTM-Delta'] %}
const int prec_mu_htm_delta = {{ prec_mu_htm_delta.getNbits() }};
{% set lut_dphi_mu_htm = scaleMap['MU-PHI'] | getDeltaLut(scaleMap['HTM-PHI'], prec_mu_htm_delta) %}
const int LUT_DPHI_MU_HTM[] = {
{% for x in lut_dphi_mu_htm -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% if menu.getVersion() >= "0.3" %}
{% if 'PRECISION-MU-ETMHF-Delta' in scaleMap %}
{% set prec_mu_etmhf_delta = scaleMap['PRECISION-MU-ETMHF-Delta'] %}
const int prec_mu_etmhf_delta = {{ prec_mu_etmhf_delta.getNbits() }};
{% set lut_dphi_mu_etmhf = scaleMap['MU-PHI'] | getDeltaLut(scaleMap['ETMHF-PHI'], prec_mu_etmhf_delta) %}
const int LUT_DPHI_MU_ETMHF[] = {
{% for x in lut_dphi_mu_etmhf -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% endif %}
{% endif %}
{# eof #}
